@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.poster {
  height: 600px;
  margin-right: 20px;
}
.title {
  color: #a71d31;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}
.star {
  color: #a71d31;
  font-size: 36px;
}

.descrip {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.btn-back:hover {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}
.btn-back a {
  text-decoration: none;
  color: #a71d31;
  padding: 20px;
}

.btn-back:hover a {
  color: white;
}
.btn-back {
  position: absolute;
  bottom: 0;
  right: 20px;
}
